@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b1bfd8;
  background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
  background-attachment: fixed;
  background-size: cover;
  max-height: 100vh;
  max-width: 100vw;
  font-size: 100%;
}

h1 {
  font-family: 'Special Elite', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.formfield{
  margin: 10px 0;
  border: 0px;
  border-bottom: 1px solid grey;
  width: 270px;
}

.edit-input{
  margin: 2px 3px;
  border: 0px;
  border-bottom: 1px solid grey;
}

.name-input{
  margin-left: -10px;
}

.errormessage{
  color: red;
}